.remark-slide-content {
  background-image: url("figures/liigh_unam_logo.png"), linear-gradient(to top, white 88%, rgba(227, 227, 227) 96%) ;
  background-position: 10px 565px , center;
  background-size: 95px , 100% 100%, cover ;
  font-size: 24pt;
}

.remark-slide-content h1, .remark-slide-content h2, .remark-slide-content h3 {
  color: #01002B;
  font-weight: bold;
}

.title-slide {
  background-image: url("figures/Slide1.png");
  background-position:  90% 75%, 75% 75%, center ;
  background-size: 1210px,210px, cover ;
}


.title-slide h1 {
  text-align: center;
  position: absolute;
  bottom: 32%;
  left: 0%;
  color: #454647;
  font-weight: bold;
}

.title-slide h2 {
  font-size: 30pt;
  position: absolute;
  bottom: 20%;
  text-align: center;
}

.title-slide h3 {
  position: absolute;
  bottom: 18%;
  left: 38%;
  text-align: center;
  color: #454647;
  font-weight: bold;
}

.chapter-slide {
  background-image: url("https://www.r-project.org/conferences/useR.png"), linear-gradient(to bottom, #B85232 85%, rgba(184, 82, 50) 95%) ;
  background-position: 10px 590px , center;
  background-size: 0px, 100% 100%, cover ;
}

.chapter-slide h1 {
  position: absolute;
  top: 40%;
  left: 15%;
  text-align: center;
  color: #e8e8e8 ;
}



/* Two-column layout */
.left-column {
  width: 20%;
  float: left;
  margin-top: -30px;
}

.right-column {
  width: 75%;
  float: right;
  margin-top: -30px;
}

.pull-left {
  float: left;
  width: 47%;
  margin-top: -30px;
}
.pull-right {
  float: right;
  width: 47%;
  margin-top: -30px;
}


.remark-code, .remark-inline-code {
    font-size: 19pt;
}





